@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Lato&display=swap');



body {
  background-color: rgba(102, 212, 141, 0.996); 
  margin: 0px auto;
  width: 375px;
  text-align: center;

}

#brand {
  margin: auto;
  align-content: center;
  font-family: 'Chela One', cursive;
  font-size: 100px;
  color: rgba(23, 110, 80, 0.996);
}

img{
  size: 100px;
}

.person-icon {text-align: center; 
    padding: 5px;
    margin-bottom: 5px;
    background: none;
    display: grid;
}

/* .btn-success{
  size:1000em;
 
} */

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

form{
  background-color: rgba(102, 212, 141, 0.996); 
  margin: 0px auto;
  width: 375px;
  text-align: center;
}

#rider{
  display: block;

}

#driver{
  display: block;
}