@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

html{
  width: 375px;
  margin: auto;
  background: gainsboro;
}

body {
  background-color: 	rgb(0, 168, 138); 
  margin: 0px auto;
  /* max-width: 375px; */
  text-align: center;
  box-sizing: border-box;
  min-height: 100vh;
}
#map{
  height: 347px;
  width: 347px;
  margin: 14px;
  overflow: auto;
  border: 2px, solid, black;
}
#brand {
  margin: auto;
  align-content: center;
  font-family: 'Chela One', cursive;
  font-size: 4em;
  letter-spacing: 0.1em;
  color: white;
  padding-top: 30vh;
}

h1{
  /* font-size: ; */
  font-family: 'Raleway', sans-serif;
  padding-top: 60px;
  padding-bottom: 15px;
  color: white;
}

span{
  font-family: 'Raleway', sans-serif;
}

#rider{
  border-radius: 5px;
  font-family: 'Chela One', cursive;

}

#driver{
  font-family: 'Chela One', cursive;
}

#messages{
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  color: rgb(0, 168, 138);
  background-color: #f2f2f2;
  border-radius: 6px;
  margin: 14px;
}

.button{
  background-color: white;
  color:rgb(0, 168, 138); 
}

.button-style{
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  color: white;
  margin: 50px;
  margin-left: 110px;
  padding-bottom: 30px;
  border-radius: 25px;
  background: transparent;
  padding: 20px;
  position:relative;
  top:1px;

}

input[type=text], input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button:hover{
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  color:rgb(0, 168, 138)
}

img{
  size: 100px;
}

.person-icon {text-align: center; 
    padding: 5px;
    margin-bottom: 5px;
    background: none;
    display: grid;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

form{
  background-color:rgb(0, 168, 138);
  margin: 15px;
  /* width: 375px; */
  text-align: center;
}

.bio-pic {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  width: 50%;
}

.opener{
  width: 30px;
  border-radius: 0%;
  margin: 14px;
  float: right;
}

.ui-dialog {
  border:5px solid #0054a8;  /** change css properties to match your theme*/
  background-color: white !important;
  height: 100px;
  border-radius: 4px;
}

.ui-dialog-content{
  color: black;
}

.ui-button{
  background-color: white;
  margin: 4px;
  border-radius: 4px;
}

.ui-dialog-titlebar {
background-color: #0054a8;
height: 50px;
text-align: center;
font-size: 2em;
color: white;
}

.dialog p{
  font-size: 20px;
}
.dialog button{
  width: 100%;
}

.ui-dialog-titlebar-close{
  display: none;
}

.history{
  margin: 110px 12px 0px ;
  list-style-type: none;
  overflow: auto;
  height: 350px;
}

.history li {
  margin-top: 14px;
  color: #f2f2f2;
  font-size: large;
  text-align: left;
  margin-left: 14px;
}

#log{
  height: 500px;
}

.alert-info {
  text-align: center;
  margin: 20px auto;
  padding-top: 10px;
  background-color:rgb(0, 168, 138);
  color: white;
}
.alert-info h4{
  font-size: 1em;
}

.back{
  margin: 14px ;
  float: left;
}

.social{
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
  color: #333;
}

.about-us h2{
  font-size: 1.5em;
  color: #333;
}